@media screen and (max-width: 600px) {

    .recharts-wrapper,
    .recharts-wrapper svg,
    .recharts-legend-wrapper {
        width: 300px;
    }

    .recharts-wrapper svg {
        width: 300px;
    }

    .recharts-legend-wrapper {
        width: 300px !important;
    }
}